#container {
    width: 400px;
    height: 400px;
    position: relative;
    background: yellow;
  }
#animate {
    width: 50px;
    height: 50px;
    position: absolute;
    background: red;
  }
body {
    font-size: 30px;
    color: #343d44;
    font-family: "segoe-ui", "open-sans", tahoma, arial;
    padding: 10px;
    margin: 10px;
    }
div {
  padding: 10px;
  margin: 10px;
}
table {
    border: #353535;
    margin: auto;
    font-family: "Lucida Sans Unicode", "Lucida Grande", "Segoe Ui";
    font-size: 20px;
  }
 
h1 {
    margin: 25px auto 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 17px;
  }
    
td, tr{
  font-size: 20px;
  color: rgb(0, 0, 0);
  }

li {
  float: left;
}

li a {
  display: block;
  padding: 8px;
  background-color: #343d44;
}

li a:hover:not(.active) {
  background-color: #111;
}
.active{
  background-color: #04AA6D;
 }

ul {
  list-style-type: none;
  margin: 0px;
  padding: 10px;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

a:visited{
  color: #ffffff;
  color: #60daff;
  }
a:hover{
  text-decoration: solid;
  font-weight: bold;
  }
