#container {
    width: 400px;
    height: 400px;
    position: relative;
    background: yellow;
  }
#animate {
    width: 50px;
    height: 50px;
    position: absolute;
    background: red;
  }
body {
    font-size: 30px;
    color: #343d44;
    font-family: "segoe-ui", "open-sans", tahoma, arial;
    padding: 50px;
    margin: 50px;
    }
div {
  padding: 50px;
  margin: 50px;
}
table {
    border: #353535;
    margin: auto;
    font-family: "Lucida Sans Unicode", "Lucida Grande", "Segoe Ui";
    font-size: 20px;
  }
 
h1 {
    margin: 25px auto 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 17px;
  }
    
td, tr{
  font-size: 20px;
  color: rgb(0, 0, 0);
  }
    
/* Table */
.data-table {
  border-collapse: collapse;
  font-size: 14px;
  min-width: 537px;
  }
    
.data-table th,
.data-table td {
  border: 1px solid #e1edff;
  padding: 7px 17px;
  }
.data-table caption {
  margin: 7px;
  }
    
/* Table Header */
th {
  background-color: #6b661c;
  color: rgb(242, 237, 237);
  border-color: #60daff !important;
  text-transform: uppercase;
  }
    
/* Table Body */
.data-table tbody td {
  color: #353535;
  }
.data-table tbody td:first-child,
.data-table tbody td:nth-child(4),
.data-table tbody td:last-child {
  text-align: right;
  }
    
.data-table tbody tr:nth-child(odd) td {
  background-color: #f4fbff;
  }
  .data-table tbody tr:hover td {
  background-color: #ffffa2;
  border-color: #ffff0f;
 }
    
/* Table Footer */
.data-table tfoot th {
    background-color: #e5f5ff;
    text-align: right;
    }
    .data-table tfoot th:first-child {
    text-align: left;
    }
.data-table tbody td:empty {
  background-color: #ffcccc;
}
a:visited{
  text-decoration: underline;
  color: #60daff;
  }
a:hover{
  text-decoration: solid;
  font-weight: bold;
  }
a:active{
  background-color: yellow;
  }