@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#animate {
    width: 50px;
    height: 50px;
    position: absolute;
    background: red;
  }
body {
    font-size: 30px;
    color: #ffffff;
    font-family: "segoe-ui", "open-sans", tahoma, arial;
    padding: 10px;
    margin: 10px;
    }
div {
  padding: 10px;
  margin: 10px;
}
table {
    border: #ffffff;
    margin: auto;
    font-family: "Lucida Sans Unicode", "Lucida Grande", "Segoe Ui";
    font-size: 20px;
    width: auto;
  }
thead {
  width: 80%;
}
 
h1 {
    margin: 25px auto 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 17px;
  }
    
td, tr{
  font-size: 20px;
  color: rgb(0, 0, 0);
  width: 150px;
  border: #111;
  }

a {
  color: #752BEA;
  font-family: 'Open Sans', sans-serif;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 8px;
}

li a:hover:not(.active) {
  background-color: #111;
}
.active{
  background-color: #04AA6D;
 }

ul {
  list-style-type: none;
  margin: 0px;
  padding: 10px;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}
nav {
  width: fit-content;
  margin-left: 10px;
}

a:visited{
  color: #ffffff;
  color: #60daff;
  }
a:hover{
  text-decoration: solid;
  font-weight: bold;
  }
.tengah {
  text-align: center;
}
*{
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: 'Open Sans', sans-serif;
}
body{
  height: 100vh;
  background-color: #242424;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
p {
color: rgb(26, 25, 25);
font-family: 'Open Sans', sans-serif;
padding-top: 10px;
}

h1 {
text-align: center;
padding-bottom: 20px;
}

.container{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  padding: 20px 25px;
  width: 300px;

  background-color: rgba(255, 255, 255, .9);
  box-shadow: 0 0 10px rgba(255,255,255,.3);
  width: 400px;
  min-height: 400px;
  background: #FFF;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,.3);
  padding: 40px 30px;
}
.container h1{
  text-align: left;
  color: #1d1d1d;
  margin-bottom: 30px;
  border-bottom: 5px solid#1d1d1d;
}
.container label{
  text-align: left;
  color: #1d1d1d;
}
.container form input{
  width: calc(100% - 20px);
  padding: 8px 10px;
  margin-bottom: 15px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #1d1d1d;
  color: #1d1d1d;
  font-size: 20px;
}
.container form button{
  width: 100%;
  height: 40px;
  padding: 5px 0;
  border: none;
  background-color:#752BEA;
  font-size: 18px;
  color: #fafafa;
  border-radius: 20px;
}
 
.container .login-text {
    color: #111;
    font-weight: 500;
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 20px;
    display: block;
    text-transform: capitalize;
}
 
.container .login-email .input-group {
    width: 100%;
    height: 50px;
    margin-bottom: 25px;
}
 
.container .login-email .input-group input {
    width: 100%;
    height: 100%;
    border: 2px solid #e7e7e7;
    padding: 15px 20px;
    font-size: 1rem;
    border-radius: 30px;
    background: transparent;
    outline: none;
    transition: .3s;
}
 
.container .login-email .input-group input:focus, .container .login-email .input-group input:valid {
    border-color: #a29bfe;
}
 
.container .login-email .input-group .btn {
    display: block;
    width: 100%;
    padding: 15px 20px;
    text-align: center;
    border: none;
    background: #a29bfe;
    outline: none;
    border-radius: 30px;
    font-size: 1.2rem;
    color: #FFF;
    cursor: pointer;
    transition: .3s;
}
 
.container .login-email .input-group .btn:hover {
    transform: translateY(-5px);
    background: #6c5ce7;
}
 
.login-register-text {
    color: #111;
    font-weight: 600;
}
 
.login-register-text a {
    text-decoration: none;
    color: #6c5ce7;
}
 
.container-logout .login-email .input-group .btn {
    display: block;
    width: 100%;
    padding: 15px 20px;
    text-align: center;
    border: none;
    background: #a29bfe;
    outline: none;
    border-radius: 30px;
    font-size: 1.2rem;
    color: #FFF;
    cursor: pointer;
    transition: .3s;
    margin-top: 20px;
}
 
.container-logout .login-email .input-group .btn:hover {
    transform: translateY(-5px);
    background: #6c5ce7;
}
 
#container {
    width: 400px;
    height: 400px;
    position: relative;
    background: yellow;
  }
 
.container-logout {
    width: 500px;
    min-height: 200px;
    background: #FFF;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    padding: 40px 30px;
  }